<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: header">
</head>

<body>

    <th:block th:replace="template :: navigation">
    </th:block>
    
    <div class="container" id="main-container">
        <div class="col-lg-6 col-md-6 offset-lg-3">

            <h2 style="text-align: center;"> Change password </h2>

            <form method="post" action="/api/password" style="border: 3px solid #f1f1f1;">

                <div class="container">
                    <label for="old-password"><b>Old password</b></label>
                    <input id="old-password" type="password" placeholder="Enter your old password" name="old-password" required>
                    <br>

                    <label for="new-password"><b>New password</b></label>
                    <input id="new-password" type="password" placeholder="Enter new password" name="new-password" required>
                    <br>

                    <label for="repeat-password"><b>Repeat new password</b></label>
                    <input id="repeat-password" type="password" placeholder="Repeat new password" name="repeat-password"
                           required>
                    <br>

                    <button type="submit">Change password</button>
                </div>

            </form>
        </div>
    </div>

</body>

</html>