<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="template :: header">
    </head>

    <body>

        <th:block th:replace="template :: navigation">
        </th:block>

        <!-- Page Content -->
        <div class="container" id="main-container">
            <nav aria-label="Page navigation">
                <ul class="pagination" style="justify-content: center;">
                    <li th:if="${currentPage} >= 1">
                        <a th:href="@{/api/all/{page}(page=${currentPage - 1})}" aria-label="Previous">
                            <span aria-hidden="true" style="font-size: 30px;">&laquo;&nbsp;Previous&nbsp;&laquo;</span>
                        </a>
                    </li>
                    <li th:unless="${currentPage} >= 1">
                        <span aria-hidden="true" style="font-size: 30px;">&laquo;&nbsp;Previous&nbsp;&laquo;</span>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp; <span style="font-size: 30px;">Page: <span th:text="${currentPage}"></span></span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <li th:if="${currentPage} < ${totalPages - 1}">
                        <a th:href="@{/api/all/{page}(page=${currentPage + 1})}" aria-label="Next">
                            <span aria-hidden="true" style="font-size: 30px;">&raquo;&nbsp;Next&nbsp;&raquo;</span>
                        </a>
                    </li>
                    <li th:unless="${currentPage} < ${totalPages - 1}">
                        <span aria-hidden="true" style="font-size: 30px;">&raquo;&nbsp;Next&nbsp;&raquo;</span>
                    </li>
                </ul>
            </nav>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div th:if="${searchedString}">
                        <h1>You serached for &quot;<span th:text="${searchedString}"></span>&quot; </h1>
                        <p class="lead">Here's what we found</p>
                    </div>
                    <div th:unless="${searchedString}">
                        <h1 style="margin-bottom: 30px;">All logs shown below</h1>
                    </div>
                    <div class="list-group">
                        <!--/*@thymesVar id="logs" type="ftn.bsep9.model.Log"*/-->
                        <th:block th:each="log:${logs.content}">
                            <a th:href="@{/api/id/{id}(id=${log.id})}" class="list-group-item list-group-item-action" style="margin-bottom: 10px;">
                                <p>Log text: <span th:text="${log.text}"></span></p>
                                <p>ID: <span th:text="${log.id}"></span></p>
                                <p th:if="${log.date}">Date: <span th:text="${log.date}"></span></p>
                                <p th:if="${log.MACAddress}">MAC Address: <span th:text="${log.MACAddress}"></span></p>
                                <p th:if="${log.service}">Service: <span th:text="${log.service}"></span></p>
                            </a>
                            <br>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" style="border: 1px solid black">
                <div class="col-lg-4 col-md-4 col-sm-4" style="background: red; height: 100px"></div>
                <div class="col-lg-4 col-md-4 col-sm-4" style="background: blue; height: 100px"></div>
                <div class="col-lg-4 col-md-4 col-sm-4" style="background: white; height: 100px"></div>
            </div>
        </div>

    </body>

</html>


<!--<div class="fa-3x">-->
<!--<i class="fas fa-spinner fa-spin"></i>-->
<!--<i class="fas fa-circle-notch fa-spin"></i>-->
<!--<i class="fas fa-sync fa-spin"></i>-->
<!--<i class="fas fa-cog fa-spin"></i>-->
<!--<i class="fas fa-spinner fa-pulse"></i>-->
<!--</div>-->